body {
    margin: 0%;
    height: 100vh;
}

.top {
    background-color: dimgray;
    height: 15vh;
}

.middle {
    display: flex;
    justify-content: space-between;
}

.side {
    background-color: lightgray;
    height: 85vh;
    width: 200px;
}

.bottom {
    background-color: black;
    height: 50px;
    width: 1520px;
    position: relative;
    left: 200px;
    bottom: 50px;
}
